<section class="home-section" id="home">
    <div class="container">
        <h1 class="visually-hidden">Golden City: Merge Kingdom</h1>
        <div class="home-wrapper">
        <picture>
            <source srcset="
                    /img/home/logo-desk.png  1x,
                    /img/home/logo-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
            <source srcset="
                    /img/home/logo-mob.png  1x,
                    /img/home/logo-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
            <img class="home-logo" src="/img/home/logo-mob.png" alt="Golden City: Merge Kingdom" loading="lazy" />
        </picture>
        <h2 class="home-subtitle">A Legendary City Is Waiting<br/>
        Under the Dust</h2>
        <p class="home-text">Merge bricks, gems and golden statues on the board, watch buildings rise from the rubble, and bring an ancient golden
        city back to life — one tile at a time.</p>
    </div>
    </div>
</section>