.footer {
background: #5c4033;
}

.footer-container {
  padding: 40px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
color: #e9c7a6;
}

.footer-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  color: #e9c7a6;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    padding: 40px 160px 16px;
  }

  .footer-text {
    font-size: 12px;
  }
}